a:hover{
    color: rgb(131, 97, 143);
    outline: rgb(131, 97, 143);
}
a{
    cursor: pointer;
}
li,a,ul{
    width: fit-content;
}
.name{
    margin-left: 1.5rem;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
}