<div class="min-h-screen content">
    <div class="flex flex-col items-center m-4">
        <img class="rounded-full" src = "assets/sad-face.svg" alt="No Openings">
        <h2 class="text-3xl text-red-800 font-bold">!!! No Open Positions !!!</h2>
    </div>
    <div class="font-medium text-xl m-4">
        <p class="m-2">We currently do not have any open positions. While there are no specific job opportunities
             available at the moment, we appreciate your interest in joining our team.</p>
        <p class="m-2">Please check back later or explore other sections of our website to learn more about our company
             and potential future opportunities.</p>
        <p class="m-2">If you have any questions or would like to connect with our human resources team, 
            feel free to reach out us.</p>
      </div>
      
</div>