<div class="min-h-screen overflow-auto bg-gray-700 text-white">
    <div>
        <h1 class="text-3xl text-center m-4">Empower your links, amplify your impact!</h1>
        <h2 class="m-3 text-2xl text-center">Welcome to QuickLink</h2>    
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 m-2 p-4">
        <div class="m-2 text-justify">
            <p class="m-2">
              Welcome to <span class="font-bold italic">QuickLink</span>, where simplicity meets efficiency in the world of web links.
              Our mission is to provide a seamless and user-friendly URL shortening experience for individuals 
              and businesses alike. We understand the importance of concise and shareable links in the digital age, 
              and that's why we've crafted a platform that streamlines the process of creating short, memorable URLs.
            </p>
            <p class="m-2">
                At <span class="font-bold italic">QuickLink</span>, we prioritize not just the reduction of links but the enhancement of your 
                online journey. Our team is dedicated to maintaining a robust infrastructure that ensures the reliability 
                and stability of the short links you create. Whether you're sharing content on social media, optimizing
                 marketing campaigns, or simply looking for cleaner links, our URL shortener is designed to cater to 
                 your diverse needs.
            </p>
            <p class="m-2">
                We believe in transparency and user empowerment. With analytics and tracking features, you'll gain
                 valuable insights into the performance of your short links. Monitor clicks, track geographic locations,
                  and refine your strategies based on real-time data. Your success is our success, and we're here to
                   empower you on every step of your URL shortening adventure.
            </p>
            <p class="m-2">
                Join us at <span class="font-bold italic">QuickLink</span> and revolutionize the way you share links online.
                 Simplify your URLs, amplify your impact.
            </p>
        </div>
        <div>
            <img  class="max-h-full rounded" src="assets/about-us-discussion.png" alt="Image">
        </div>
    </div>
</div>