.content{
    background: linear-gradient(to right, #3f5a74, #102b3d);
    font-size: medium;
}
.m-4{
    margin: 1rem;
}
p{
    font-size: medium;
    line-height: 1.5rem;
}
.text-7xl {
    font-size: 4.5rem/* 72px */;
    line-height: 1;
}
.text-lg {
    font-size: 1.125rem/* 18px */;
    line-height: 1.75rem/* 28px */;
}