<div class="min-h-fit">
  <h1 mat-dialog-title>🚀 Coming Soon! 🚀</h1>
<div mat-dialog-content>
<div class="text-black">
  <p><span class="font-extrabold">{{userService}}</span> &nbsp; service is coming soon !!</p>
  <p>
    Due to unforeseen circumstances, we've encountered a slight delay in the release of
     <span class="font-extrabold">{{userService}}.</span>
     Please accept our apologies as we work diligently to bring you an even more refined and delightful experience.
    <p>
      As a token of our appreciation for your understanding, we'll be offering an exclusive 
      [discount/free trial/special offer] 
      <span class="font-bold">(if applicable to this service)</span> to you when it is officially launched.</p>
    <p>
      Thank you for your continued support and understanding.
       We can't wait to make it up to you with an amazing experience.
    </p>
    <p>
      Warm regards,
    </p>
    <p class="font-bold italic">
      Team QuickLink
    </p>
</div>
</div>
<div class="flex items-center justify-center">
  <button class="m-4 p-2 text-white" mat-button mat-dialog-close><span class="p-2 mt-2 text-white">OK</span></button>
</div>

</div>