input.ng-invalid.ng-touched {
    outline: red 2px solid;
}
.mt-4 {
    margin-top: 1rem/* 16px */;
}
.text-sm {
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
}
.m-2 {
    margin: 0.5rem/* 8px */;
}
.mb-4 {
    margin-bottom: 1rem/* 16px */;
}
.shadow-md {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.p-8 {
    padding: 2rem/* 32px */;
}
.font-semibold {
    font-weight: 600;
}
.text-2xl {
    font-size: 1.5rem/* 24px */;
    line-height: 2rem/* 32px */;
}
.p-2{
    padding: .5rem;
}